[submodule "Gists/Replace_text_in_a_table_in_C#"]
	path = "Gists/Replace_text_in_a_table_in_C#"
	url = https://gist.github.com/aspose-words-gists/7855fd2588b90f4640bf0540285b5277
[submodule "Gists/Advanced_table_formatting_C#"]
	path = "Gists/Advanced_table_formatting_C#"
	url = https://gist.github.com/aspose-words-gists/f1d06175603c48e6dabf5a2eea01207c
[submodule "Gists/Working_with_parts_of_a_table_using_C#"]
	path = "Gists/Working_with_parts_of_a_table_using_C#"
	url = https://gist.github.com/aspose-words-gists/14f5cea1b896ffd04f143627939e0878
[submodule "Gists/Table_formatting_in_details_using_C#"]
	path = "Gists/Table_formatting_in_details_using_C#"
	url = https://gist.github.com/aspose-words-gists/1c794bd06eb1e3b67f0368daa6f23b1f
[submodule "Gists/Fill_document_table_from_external_database_using_C#"]
	path = "Gists/Fill_document_table_from_external_database_using_C#"
	url = https://gist.github.com/aspose-words-gists/b5330afb035e842063be7ce93cefe219
[submodule "Gists/How_to_make_a_table_in_C#"]
	path = "Gists/How_to_make_a_table_in_C#"
	url = https://gist.github.com/aspose-words-gists/68616fbf7f092a743b66d4491578d18c
[submodule "Gists/Join_tables_in_C#"]
	path = "Gists/Join_tables_in_C#"
	url = https://gist.github.com/aspose-words-gists/89807559333317718ba2e6084fdcb3e2
[submodule "Gists/Split_table_in_C#"]
	path = "Gists/Split_table_in_C#"
	url = https://gist.github.com/aspose-words-gists/ff5affdcea04dcd20d1b872f9503dbfe
[submodule "Gists/How_to_merge_table_cells_in_C#"]
	path = "Gists/How_to_merge_table_cells_in_C#"
	url = https://gist.github.com/aspose-words-gists/4fe6fda3615c0c441401e2131533d93b
[submodule "Gists/Specify_table_position_in_C#"]
	path = "Gists/Specify_table_position_in_C#"
	url = https://gist.github.com/aspose-words-gists/0f235c484e5edae70a542ebdaae40fd8
[submodule "Gists/Work_with_sections_Java"]
	path = Gists/Work_with_sections_Java
	url = https://gist.github.com/aspose-words-gists/7c0668453e53ed7a57d3ea3a05520f21
[submodule "Gists/Encrypt_document_using_encryption_algorithms_in_Java"]
	path = Gists/Encrypt_document_using_encryption_algorithms_in_Java
	url = https://gist.github.com/aspose-words-gists/821ff3a1df0c75b2af641299b393fb60
[submodule "Gists/Working_with_digital_signatures_using_Java"]
	path = Gists/Working_with_digital_signatures_using_Java
	url = https://gist.github.com/aspose-words-gists/39ea49b7754e472caf41179f8b5970a0
