Temp/
obj/
classes/
generated/
*.suo
bin/
* Out*
*.ldb
_ReSharper*/
*.iws
out/
*.user
*.resx
Out/
BuildLog.txt
Out*/
TestFile*.png
Data/*Out*
*from DB*
*.iml
*.ipr
*.eml
nbproject/
target/
build/
build.xml
Thumbs.db
manifest.mf
.settings/
*.lic
.idea/
pom.xml